<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
           xmlns:context="http://www.springframework.org/schema/context"
           xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd ">

        <!-- 1.配置注解处理器映射器和处理器适配器 ,也就是说controler开发使用使用注解,千万别忘记配置spring的注解扫描-->
        <mvc:annotation-driven/>
        <context:component-scan base-package="com.leige.controler"/>

        <!-- 2.配置视图解析器 支持jsp-->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
            <!-- 视图前缀
            和modelandview拼接成一个完整的urlmodelAndView.setViewName("index");
            /index.jsp
            -->
            <property name="prefix" value="/"/>
            <!-- 视图后缀 -->
            <property name="suffix" value=".jsp" ></property>
        </bean>
</beans>